body {
  margin: auto;
  background-color: rgba(0, 0, 0, 0);
  overflow: hidden;
}
button {
  resize: horizontal;
  border: 1px solid white;
  opacity: 0.8;
}
button:hover {
  opacity: 1;
}
.copyStyle {
  resize: horizontal;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  left: 410px;
  top: -102px;
  height: 36px;
}
.prevButton {
  height: 30px;
}
.wheelArea {
  position: absolute;
  background-size: 500px 500px;
  background-repeat: no-repeat;
  left: 300px;
  height: 500px;
  width: 500px;
}
.wheelArea.wheelStandard {
  background-image: url(./assets/g27/g27wheel.png);
  left: 0px;
}
.wheelButtons {
  position: absolute;
  background-size: 500px 500px;
  background-repeat: no-repeat;
  height: 500px;
  width: 500px;
  opacity: 0;
}
.wheelButtons.upShift {
  background-image: url(./assets/g27/button4.png);
}
.wheelButtons.downShift {
  background-image: url(./assets/g27/button5.png);
}
.wheelButtons.square {
  background-image: url(./assets/g27/button7.png);
}
.wheelButtons.l2 {
  background-image: url(./assets/g27/button20.png);
}
.wheelButtons.l3 {
  background-image: url(./assets/g27/button22.png);
}
.wheelButtons.circle {
  background-image: url(./assets/g27/button6.png);
}
.wheelButtons.r2 {
  background-image: url(./assets/g27/button19.png);
}
.wheelButtons.r3 {
  background-image: url(./assets/g27/button21.png);
}
.Pedals {
  position: absolute;
  top: 600px;
  left: 350px;
  background-repeat: no-repeat;
  background-image: url(./assets/g27/pedals.png);
  background-size: 400px;
  height: 300px;
  width: 400px;
}
.Pedal {
  position: absolute;
  background-repeat: no-repeat;
  height: 150px;
  width: 100px;
}
.Gas {
  top: -75px;
  left: 290px;
  background-image: url(./assets/g27/gas.png);
  background-size: 75px;
}
.Brake {
  top: -65px;
  left: 150px;
  background-image: url(./assets/g27/brake.png);
  background-size: 75px;
}
.Clutch {
  top: -65px;
  left: 40px;
  background-image: url(./assets/g27/clutch.png);
  background-size: 75px;
}
.shiftArea {
  position: absolute;
  background-repeat: no-repeat;
  height: 500px;
  width: 500px;
  background-size: 500px auto;
  top: 200px;
  left: -75px;
}
.shifterBase {
  position: absolute;
  background-size: 500px auto;
  height: 500px;
  width: 500px;
  background-image: url(./assets/g27/shifterbase.png);
}
.shifterButtons {
  position: absolute;
  background-size: 500px auto;
  height: 500px;
  width: 500px;
  background-repeat: no-repeat;
  opacity: 0;
}
.Right {
  left: 650px;
}
.Shifter {
  position: absolute;
  top: 280px;
  left: 190px;
  height: 500px;
  width: 500px;
  background-repeat: no-repeat;
  background-image: url(./assets/g27/shifter.png);
  background-size: 120px;
  transition-duration: 300ms;
}
.shifterButtons.button0 {
  background-image: url(./assets/g27/button0.png);
}
.shifterButtons.button1 {
  background-image: url(./assets/g27/button1.png);
}
.shifterButtons.button2 {
  background-image: url(./assets/g27/button2.png);
}
.shifterButtons.button3 {
  background-image: url(./assets/g27/button3.png);
}
.shifterButtons.striangle {
  background-image: url(./assets/g27/button15.png);
}
.shifterButtons.ssquare {
  background-image: url(./assets/g27/button16.png);
}
.shifterButtons.sx {
  background-image: url(./assets/g27/button17.png);
}
.shifterButtons.scircle {
  background-image: url(./assets/g27/button18.png);
}
.shifterButtons.arrow1 {
  background-image: url(./assets/g27/arrow1.png);
}
.shifterButtons.arrow2 {
  background-image: url(./assets/g27/arrow2.png);
}
.shifterButtons.arrow3 {
  background-image: url(./assets/g27/arrow3.png);
}
.shifterButtons.arrow4 {
  background-image: url(./assets/g27/arrow4.png);
}
.gone {
  opacity: 0;
}
