body {
  margin: auto;
  background-color: rgba(0, 0, 0, 0);
  overflow: hidden;
}
button {
  resize: horizontal;
  border: 1px solid white;
  opacity: 0.8;
}
button:hover {
  opacity: 1;
}
.copyStyle {
  resize: horizontal;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  left: 410px;
  top: -102px;
  height: 36px;
}
.prevButton {
  height: 30px;
}
.wheelArea {
  position: absolute;
  background-size: 400px 400px;
  background-repeat: no-repeat;
  left: 310px;
  top: 10px;
  height: 500px;
  width: 500px;
}
.wheelStandard {
  position: absolute;
  background-image: url(./assets/g290/wheel.png);
  background-size: cover;
  top: 0px;
  background-repeat: no-repeat;
  height: 480px;
  width: 480px;
}
.wheelButtons {
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  height: 480px;
  width: 480px;
  opacity: 0;
}
.wheelButtons.upShift {
  background-image: url(./assets/g29/g29shiftright.png);
}
.wheelButtons.downShift {
  background-image: url(./assets/g29/g29shiftleft.png);
}
.wheelButtons.button7 {
  background-image: url(./assets/g29/g29x.png);
}
.wheelButtons.button20 {
  background-image: url(./assets/g29/g29square.png);
}
.wheelButtons.button22 {
  background-image: url(./assets/g29/g29triangle.png);
}
.wheelButtons.button6 {
  background-image: url(./assets/g29/g29circle.png);
}
.wheelButtons.button19 {
  background-image: url(./assets/g27/button19.png);
}
.wheelButtons.button21 {
  background-image: url(./assets/g27/button21.png);
}
.Pedals {
  position: absolute;
  top: 600px;
  left: 350px;
  background-repeat: no-repeat;
  background-image: url(./assets/g27/pedals.png);
  background-size: 400px;
  height: 300px;
  width: 400px;
}
.Pedal {
  position: absolute;
  background-repeat: no-repeat;
  height: 150px;
  width: 100px;
}
.Gas {
  top: -75px;
  left: 290px;
  background-image: url(./assets/g27/gas.png);
  background-size: 75px;
}
.Brake {
  top: -65px;
  left: 150px;
  background-image: url(./assets/g27/brake.png);
  background-size: 75px;
}
.Clutch {
  top: -65px;
  left: 40px;
  background-image: url(./assets/g27/clutch.png);
  background-size: 75px;
}
.shiftArea {
  position: absolute;
  background-repeat: no-repeat;
  height: 500px;
  width: 500px;
  background-size: 500px auto;
  top: 200px;
  left: 0px;
}
.shifterBase {
  position: absolute;
  background-size: 500px auto;
  height: 500px;
  width: 500px;
  background-image: url(./assets/g29/g29shifterbase.png);
}
.shifterButtons {
  position: absolute;
  background-size: 500px auto;
  height: 500px;
  width: 500px;
  background-repeat: no-repeat;
  opacity: 0;
}
.Right {
  left: 600px;
}
.Shifter {
  position: absolute;
  top: 280px;
  left: 190px;
  height: 500px;
  width: 500px;
  background-repeat: no-repeat;
  background-image: url(./assets/g27/shifter.png);
  background-size: 120px;
  transition-duration: 300ms;
}
.shifterButtons.button0 {
  background-image: url(./assets/g27/button0.png);
}
.shifterButtons.button1 {
  background-image: url(./assets/g27/button1.png);
}
.shifterButtons.button2 {
  background-image: url(./assets/g27/button2.png);
}
.shifterButtons.button3 {
  background-image: url(./assets/g27/button3.png);
}
.shifterButtons.button15 {
  background-image: url(./assets/g27/button15.png);
}
.shifterButtons.button16 {
  background-image: url(./assets/g27/button16.png);
}
.shifterButtons.button17 {
  background-image: url(./assets/g27/button17.png);
}
.shifterButtons.button18 {
  background-image: url(./assets/g27/button18.png);
}
.shifterButtons.arrow1 {
  background-image: url(./assets/g27/arrow1.png);
}
.shifterButtons.arrow2 {
  background-image: url(./assets/g27/arrow2.png);
}
.shifterButtons.arrow3 {
  background-image: url(./assets/g27/arrow3.png);
}
.shifterButtons.arrow4 {
  background-image: url(./assets/g27/arrow4.png);
}
.gone {
  opacity: 0;
}
