body {
  margin: auto;
  background-color: rgba(0, 0, 0, 0);
  overflow: hidden;
}
button {
  resize: horizontal;
  border: 1px solid white;
  opacity: 0.8;
}
button:hover {
  opacity: 1;
}
.copyStyle {
  resize: horizontal;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  left: 410px;
  top: -102px;
  height: 36px;
}
.prevButton {
  height: 30px;
}
.wheelArea {
  position: absolute;
  background-size: 500px 500px;
  background-repeat: no-repeat;
  left: 280px;
  top: 0px;
  height: 540px;
  width: 540px;
}
.wheelArea.wheelStandard {
  background-image: url(./assets/g923/wheel.png);
  background-size: cover;
  top: 0px;
  left: 0px;
}
.wheelButtons {
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  height: 540px;
  width: 540px;
  opacity: 0;
}
.wheelButtons.upShift {
  background-image: url(./assets/g923/upshift.png);
}
.wheelButtons.downShift {
  background-image: url(./assets/g923/downshift.png);
}
.wheelButtons.x {
  background-image: url(./assets/g923/x.png);
}
.wheelButtons.square {
  background-image: url(./assets/g923/square.png);
}
.wheelButtons.triangle {
  background-image: url(./assets/g923/triangle.png);
}
.wheelButtons.circle {
  background-image: url(./assets/g923/circle.png);
}
.wheelButtons.l2 {
  background-image: url(./assets/g923/l2.png);
}
.wheelButtons.r2 {
  background-image: url(./assets/g923/r2.png);
}
.wheelButtons.l3 {
  background-image: url(./assets/g923/l3.png);
}
.wheelButtons.r3 {
  background-image: url(./assets/g923/r3.png);
}
.wheelButtons.plus {
  background-image: url(./assets/g923/plus.png);
}
.wheelButtons.minus {
  background-image: url(./assets/g923/minus.png);
}
.wheelButtons.returnBut {
  background-image: url(./assets/g923/returnBut.png);
}
.wheelButtons.wup {
  background-image: url(./assets/g923/up.png);
}
.wheelButtons.wdown {
  background-image: url(./assets/g923/down.png);
}
.wheelButtons.wleft {
  background-image: url(./assets/g923/left.png);
}
.wheelButtons.wright {
  background-image: url(./assets/g923/right.png);
}
.Pedals {
  position: absolute;
  top: 600px;
  left: 350px;
  background-repeat: no-repeat;
  background-image: url(./assets/g27/pedals.png);
  background-size: 400px;
  height: 300px;
  width: 400px;
}
.Pedal {
  position: absolute;
  background-repeat: no-repeat;
  height: 150px;
  width: 100px;
}
.Gas {
  top: -75px;
  left: 290px;
  background-image: url(./assets/g27/gas.png);
  background-size: 75px;
}
.Brake {
  top: -65px;
  left: 150px;
  background-image: url(./assets/g27/brake.png);
  background-size: 75px;
}
.Clutch {
  top: -65px;
  left: 40px;
  background-image: url(./assets/g27/clutch.png);
  background-size: 75px;
}
.shiftArea {
  position: absolute;
  background-repeat: no-repeat;
  height: 500px;
  width: 500px;
  background-size: 500px auto;
  top: 200px;
  left: 0px;
}
.shifterBase {
  position: absolute;
  background-size: 500px auto;
  height: 500px;
  width: 500px;
  background-image: url(./assets/g29/g29shifterbase.png);
}
.shifterButtons {
  position: absolute;
  background-size: 500px auto;
  height: 500px;
  width: 500px;
  background-repeat: no-repeat;
  opacity: 0;
}
.Right {
  left: 600px;
}
.Shifter {
  position: absolute;
  top: 280px;
  left: 190px;
  height: 500px;
  width: 500px;
  background-repeat: no-repeat;
  background-image: url(./assets/g27/shifter.png);
  background-size: 120px;
  transition-duration: 300ms;
}
.gone {
  opacity: 0;
}
