body {
  background-color: rgb(129, 129, 129);
  text-align: center;
  overflow: hidden;
}
div {
  width: 600px;
  text-align: left;
  border: 3px solid green;
  background-color: rgba(255, 255, 255, 0.507);
  padding: 7px;
  margin: auto;
  margin-top: 100px;
  opacity: 1;
}
.output {
  border: 1px solid white;
  width: 480px;
  height: auto;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-left: 0px;
}
button {
  resize: horizontal;
  border: 1px solid white;
  opacity: 0.8;
}
button:hover {
  opacity: 1;
}
.copyStyle {
  resize: horizontal;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  left: 510px;
  top: -102px;
  height: 36px;
}
.prevButton {
  height: 30px;
}
