body {
  margin: auto;
  background-color: rgba(0, 0, 0, 0);
  background-size: cover;
  overflow: hidden;
}
button {
  resize: horizontal;
  border: 1px solid white;
  opacity: 0.8;
}
button:hover {
  opacity: 1;
}
.copyStyle {
  resize: horizontal;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  left: 410px;
  top: -102px;
  height: 36px;
}
.prevButton {
  height: 30px;
}
.wheelStandard {
  position: absolute;
  top: 0px;
  left: 300px;
  font-size: 30px;
  background-repeat: no-repeat;
  height: 500px;
  width: 500px;
}
.wheelButtons {
  position: absolute;
  top: 0px;
  left: 300px;
  font-size: 30px;
  background-repeat: no-repeat;
  height: 500px;
  width: 500px;
  opacity: 0;
}
.Pedals {
  position: absolute;
  top: 600px;
  left: 350px;
  font-size: 30px;
  background-repeat: no-repeat;
  height: auto;
  width: 400px;
}
.Gas {
  position: absolute;
  top: 520px;
  left: 640px;
  font-size: 30px;
  width: 75px;
  height: auto;
  background-repeat: no-repeat;
}
.Brake {
  position: absolute;
  top: 530px;
  left: 500px;
  font-size: 30px;
  background-repeat: no-repeat;
  width: 75px;
  height: auto;
}
.Clutch {
  position: absolute;
  top: 530px;
  left: 380px;
  font-size: 30px;
  background-repeat: no-repeat;
  width: 75px;
  height: auto;
}
.shifterBase {
  position: absolute;
  top: 200px;
  left: -75px;
  font-size: 30px;
  background-repeat: no-repeat;
  height: auto;
  width: 500px;
}
.shifterBaseRight {
  position: absolute;
  top: 200px;
  left: 650px;
  font-size: 30px;
  background-repeat: no-repeat;
  height: auto;
  width: 500px;
}
.shifterButtons {
  position: absolute;
  top: 200px;
  left: -75px;
  font-size: 30px;
  background-repeat: no-repeat;
  height: auto;
  width: 500px;
  opacity: 0;
}
.shifterButtonsRight {
  position: absolute;
  top: 200px;
  left: 650px;
  font-size: 30px;
  background-repeat: no-repeat;
  height: auto;
  width: 500px;
  opacity: 0;
}
.Shifter {
  position: absolute;
  top: 480px;
  left: 115px;
  font-size: 30px;
  background-repeat: no-repeat;
  height: auto;
  width: 120px;
  transition-duration: 300ms;
}
.ShifterRight {
  position: absolute;
  top: 480px;
  left: 840px;
  font-size: 30px;
  background-repeat: no-repeat;
  height: auto;
  width: 120px;
  transition-duration: 300ms;
}
